@import '../Styles/homepage.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.query-history{
  color: black;
}

.App-header {
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #919191;
}

.my-button {
  background-color: rgb(255, 10, 10);     
  color: rgb(255, 255, 255);              
  font-weight: bold;                        
  padding: 5px 10px;
  border: 1.5px solid #9e9e9e;                 
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
  transition: background-color 0.3s ease, box-shadow 0.3s ease;        
}

.my-button:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.my-button:active {
  background-color: rgb(150, green, blue);
  box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 1); 
  transform: translateY(2px);    
}

.page-title {
  color: rgb(41, 41, 41);
  font-size: 44px;  
  font-family: Roboto, sans-serif;
  margin-right: 50vw;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  font-weight: bold;
  unicode-bidi: isolate;
}



.page-sub{
  color: rgb(41, 41, 41);
  font-size: 24px;  
  font-family: Roboto, sans-serif;
  margin-right: 50vw;
  display: block;
  font-weight: bold;
  
}

.page-container{
  text-align: left;
  padding-left: 360px;
  padding-right: 40px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
