.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 15px 3%;
  top: 0;
  left: 0;
  height: 140px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
}


.navbar-logo {
  display: flex;
  align-items: center;    
}

.logo-ryder{
  height: 60px;
  width: auto;
  margin-left: 20px;
  cursor: pointer;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-menu li {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  gap: 5px;
  position: relative;
  color: black;
  font-weight: bold;

}

.navbar-menu li:hover {
  color: #e21313;
}

.navbar-search {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 60px;
  padding: 20px 10px;
}

.search-icon {
  font-size: 20px;
  cursor: pointer;
  line-height: 1;
}

.contact-button {
  padding: 15px 20px;
  background-color: #e43235;
  color: rgb(253, 251, 251);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); 
  font-size: 17px;
}


.contact-button:hover {
  background-color: #9a0808;
}

.contact-button:active {
  background-color: rgb(255, 135, 135);
}



.navbar-country {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  margin-left: 20px;
}

.flag-icon {
  height: 30px;
  width: auto;
  border-radius: 2px;
}

.flag-arrow {
  font-size: 20px;
  color: rgb(196, 195, 195);
  margin-right: 15px;
  cursor: pointer;

}