.search-container {
  display: flex;
  justify-content: flex-start;
  width: 90vw;
  position: relative;
  
}

.search-container input {
  padding: 10px 15px;
  font-family: Roboto, sans serif;
  border-radius: 8px;
  width: 70%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  
}


.search-button {
  padding: 10px 10px;
  font-size: 15px;
  background-color: #e43235;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  height: 50px;
  margin-left: 5px;
  border: none;
}

.search-logo{
  height: 25px;
  width: 40px;
  margin-top: -10px;
  margin-bottom: -10px;

}

.search-button:hover {
  background-color: #820000;
}

.search-button:active{
  background-color: rgb(255, 135, 135);
}
