.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  margin-top: 12vh;
  margin-right: 40vh;
}



.truck-card {
  background: #ffffff;
  border-radius: 0.625rem; 
  color: black;
  border-color: #d72525aa;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  padding: clamp(1rem, 2vw, 2rem);
  margin: clamp(0.5rem, 2vw, 1rem);
  width: clamp(120px, 25vw, 280px);
  height: clamp(160px, 350px, 360px);
  padding-top: clamp(60px, 6vw, 90px);
  position: relative;
  margin-bottom: 12vh;
}


.truck-card-head{
    height: clamp(120px, 15vw, 160px);
    cursor: pointer;
    top: -90px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    object-fit: cover;
    display: block;
    left: 0;
    right: 0;
    z-index: 1;

}

.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -12px;
}

.vehicle_number{
    font-weight: normal;
    text-align: left;
    margin-top: 0;
    color: #76757a !important;
}

.certified{
    font-weight: bold;
    text-align: right;
    margin-top: 0;
    color: #ce1126 !important;

}

.vehicle_brand{
    font-weight: bold;
    text-align: left;
    color: #76757a !important;
    margin-top: 5px;

}

.vehicle_model{
    font-weight: bold;
    text-align: left;
    color: #1d1f21 !important;
    margin-top: 5px;


}

.vehicle_price{
    font-weight: bold;
    text-align: left;
    color: #76757a !important;
    margin-top: 5px;


}

.card-mid-section{
    display: grid;
    justify-content: space-between;
    gap: 0.5rem
}


.mid-text {
    text-align: left;
    justify-content: space-between;
    color: #76757a !important;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
    display: flex;
    margin-top: 5px;

    
}


.mid_text-info{
    font-weight: bold;
    text-align: left;
    justify-content: space-between;
    color: #4a4b4c !important;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2rem;
    display: flex;
}

.vehicle-type-container{
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 5px;


}

.vehicle-type-label{
    text-align: left;
    font-weight: normal;
    flex-direction: column;
    justify-content: space-between;
    color:  #76757a !important;
    list-style: none;
    flex-direction: row;
    display: flex;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.vehicle-type-block{
    text-align: left;
    font-weight: bold;
    flex-direction: column;
    justify-content: space-between;
    color: #4a4b4c !important;
    flex-direction: row;
    display: flex;

}

.page-text{
    color: #1d1f21;
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
}

.next-button, .back-button, .first-page-button, .last-page-button{
    background-color: #ffffff;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    scrollbar-width: none;
}


.next-button:hover, .back-button:hover, .first-page-button:hover, .last-page-button:hover{
    background-color: #efefef;
}

.next-button:active, .back-button:active, .first-page-button:active, .last-page-button:active{
    background-color: #e4e4e4;
}


.vehicle_number,
.certified,
.vehicle_brand,
.vehicle_price,
.vehicle_model,
.vehicle-type-label,
.vehicle-type-block,
.mid-text,
.mid_text-info {
  font-size: clamp(12px, 14px, 18px);
  margin-top: 10px;
}


